{% load staticfiles %}
<html>
    <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Django Girls blog</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="https://djangogirls.org/"><strong>What is Django Girls?</strong></a></h1>
            <ul>
            	<li> non-profit organization and a community that empowers and helps women to organize free, one-day programming workshops by providing tools, resources and support.</li>
            	<li>a volunteer run organization with hundreds of people contributing to bring more amazing women into the world of technology.</li>
            	<li>making technology more approachable by creating simpler tools and resources designed with empathy</li>
            	<li>During each event, 30-60 women build their first web application using HTML, CSS, Python and Django.</li>
            	</ul>
        </div>

   <div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaks }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

     <img src="https://scontent.ftsr1-1.fna.fbcdn.net/hphotos-xaf1/v/t1.0-9/5792_265852267080513_3632569294173026825_n.jpg?oh=a858f0dcae78eca704020f8ae822e94f&oe=578F8038"> 

    </body>
</html>